<div id="login-decryption-options-page">
  <div id="content" class="content">
    <img class="logo-image" alt="Bitwarden" />
    <h1 id="heading">{{ "logInInitiated" | i18n }}</h1>

    <div class="container loading-spinner" *ngIf="loading">
      <i class="bwi bwi-spinner bwi-spin bwi-3x" aria-hidden="true"></i>
    </div>

    <ng-container *ngIf="!loading">
      <h6 id="subHeading" class="standard-bottom-margin">{{ "deviceApprovalRequired" | i18n }}</h6>

      <form id="rememberDeviceForm" class="standard-bottom-margin" [formGroup]="rememberDeviceForm">
        <div class="checkbox">
          <label for="rememberDevice">
            <input
              id="rememberDevice"
              type="checkbox"
              name="rememberDevice"
              formControlName="rememberDevice"
            />
            {{ "rememberThisDevice" | i18n }}
          </label>
        </div>
        <span id="rememberThisDeviceHintText">{{ "uncheckIfPublicDevice" | i18n }}</span>
      </form>

      <div class="buttons with-rows">
        <div class="buttons-row" *ngIf="showApproveFromOtherDeviceBtn">
          <button
            (click)="approveFromOtherDevice()"
            type="button"
            class="btn primary block"
            [appA11yTitle]="'approveFromYourOtherDevice' | i18n"
          >
            {{ "approveFromYourOtherDevice" | i18n }}
          </button>
        </div>
        <div class="buttons-row" *ngIf="showReqAdminApprovalBtn">
          <button
            (click)="requestAdminApproval()"
            type="button"
            class="btn block"
            [appA11yTitle]="'requestAdminApproval' | i18n"
          >
            {{ "requestAdminApproval" | i18n }}
          </button>
        </div>
        <div class="buttons-row" *ngIf="showApproveWithMasterPasswordBtn">
          <button
            (click)="approveWithMasterPassword()"
            type="button"
            class="btn block"
            [appA11yTitle]="'approveWithMasterPassword' | i18n"
          >
            {{ "approveWithMasterPassword" | i18n }}
          </button>
        </div>
      </div>

      <div style="text-align: center">
        <p class="no-margin">{{ "loggingInAs" | i18n }} {{ userEmail }}</p>
        <a [routerLink]="[]" (click)="logOut()">{{ "notYou" | i18n }}</a>
      </div>
    </ng-container>
  </div>
</div>
