@import "../../../../../../../libs/angular/src/scss/webfonts.css";
@import "../../../../../../../libs/angular/src/scss/bwicons/styles/style";
@import "../shared/styles/variables";
@import "../../../../../../../libs/angular/src/scss/icons";

$color-blue: #175ddc;
$color-light-gray: #ced4dc;
$color-gray: #6c747c;
$color-dark-gray: #212529;
$color-white: #fff;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: $color-white;
}

.overlay-list-message {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  padding: 0.8rem;
  color: $color-dark-gray;

  &.no-items {
    font-size: 1.6rem;
  }
}

.overlay-list-button-container {
  width: 100%;
  padding: 0.2rem;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  border-top: 0.1rem solid $color-light-gray;

  &:hover {
    background: #f0f0f0;
  }
}

.overlay-list-button {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-blue;
  text-align: left;
  background: transparent;
  border: none;
  padding: 0.7rem;
  margin: 0;
  cursor: pointer;
  border-radius: 0.4rem;

  &:focus:focus-visible {
    outline: 2px solid #1252a3;
  }

  svg {
    position: relative;
    margin-left: 0.4rem;
    margin-right: 0.8rem;
  }
}

.unlock-button {
  svg {
    top: 0.2rem;
    width: 1.6rem;
    height: 1.7rem;
  }
}

.add-new-item-button {
  svg {
    top: 0.2rem;
    width: 1.7rem;
    height: 1.7rem;
  }
}

.overlay-actions-list {
  padding: 0;
  margin: 0;
}

.overlay-actions-list-item {
  transition: background-color 0.2s ease-in-out;
  list-style: none;
  padding: 0.2rem;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-light-gray;
  }

  &:hover {
    background: #f0f0f0;
  }

  .cipher-container {
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    padding: 0.7rem 0.3rem 0.7rem 0.7rem;
    border-radius: 0.4rem;

    &:focus-within:not(.remove-outline) {
      outline: 2px solid #1252a3;
    }
  }

  .fill-cipher-button,
  .view-cipher-button {
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .fill-cipher-button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: calc(100% - 4rem);
    outline: none;
  }

  .view-cipher-button {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;

    &:focus:focus-visible {
      outline: 0.2rem solid #1252a3;
    }
  }

  .cipher-icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 1rem 0 0;
    line-height: 0;
    background-size: 2.6rem;
    background-position: center;
    background-repeat: no-repeat;

    svg {
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }
  }

  .cipher-details {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }

  .cipher-name,
  .cipher-user-login {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  .cipher-name {
    font-size: 1.6rem;
    color: $color-dark-gray;
  }

  .cipher-user-login {
    font-size: 1.4rem;
    color: $color-gray;
  }
}
