<bit-simple-dialog>
  <span bitDialogTitle>{{ title | i18n }}</span>
  <span bitDialogContent class="tw-text-sm">
    <div *ngIf="data.secretIds.length === 1">
      {{ "softDeleteSecretWarning" | i18n }}
    </div>
    {{ "deleteItemConfirmation" | i18n }}
  </span>
  <div bitDialogFooter class="tw-flex tw-gap-2">
    <button bitButton buttonType="primary" (click)="delete()">{{ title | i18n }}</button>
    <button bitButton buttonType="secondary" bitDialogClose (click)="dialogRef.close()">
      {{ "close" | i18n }}
    </button>
  </div>
</bit-simple-dialog>
