<bit-table>
  <ng-container header>
    <tr>
      <th bitCell class="tw-w-0">
        <input
          type="checkbox"
          (change)="$event ? toggleAll() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        />
      </th>
      <th bitCell>{{ "name" | i18n }}</th>
      <th bitCell>{{ "projects" | i18n }}</th>
      <th bitCell>{{ "lastEdited" | i18n }}</th>
      <th bitCell class="tw-w-0">
        <button
          class="tw-rounded tw-border tw-border-transparent tw-bg-transparent tw-text-main hover:tw-border-secondary-700 focus:tw-border-secondary-700"
          [bitMenuTriggerFor]="tableMenu"
        >
          <i class="bwi bwi-ellipsis-v tw-text-xl" aria-hidden="true"></i>
        </button>
      </th>
    </tr>
  </ng-container>
  <ng-container body>
    <tr bitRow *ngFor="let secret of secrets; index as i">
      <td bitCell>
        <input
          type="checkbox"
          (change)="$event ? selection.toggle(secret.id) : null"
          [checked]="selection.isSelected(secret.id)"
        />
      </td>
      <td bitCell>
        <i class="bwi bwi-key tw-text-xl tw-text-muted" aria-hidden="true"></i>
        {{ secret.name }}
      </td>
      <td bitCell>
        <!-- TODO dynamically add project badge associated with specific secret once projects are implemented-->
        <span bitBadge badgeType="secondary"> web app </span>
      </td>
      <td bitCell>{{ secret.revisionDate }}</td>
      <td bitCell>
        <button
          class="tw-rounded tw-border tw-border-transparent tw-bg-transparent tw-text-main hover:tw-border-secondary-700 focus:tw-border-secondary-700"
          [bitMenuTriggerFor]="secretMenu"
        >
          <i class="bwi bwi-ellipsis-v tw-text-xl" aria-hidden="true"></i>
        </button>
      </td>

      <bit-menu #secretMenu>
        <button type="button" bitMenuItem (click)="this.editSecretEvent.emit(secretId)">
          <i class="bwi bwi-fw bwi-pencil tw-text-xl" aria-hidden="true"></i>
          {{ "editSecret" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.copySecretNameEvent.emit(secretId)">
          <i class="bwi bwi-fw bwi-clone tw-text-xl" aria-hidden="true"></i>
          {{ "copySecretName" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.copySecretValueEvent.emit(secretId)">
          <i class="bwi bwi-fw bwi-clone tw-text-xl" aria-hidden="true"></i>
          {{ "copySecretValue" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.projectsEvent.emit(secretId)">
          <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
          {{ "projects" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.deleteSecretEvent.emit(secretId)">
          <i class="bwi bwi-fw bwi-trash tw-text-xl tw-text-danger" aria-hidden="true"></i>
          <span class="tw-text-danger">{{ "deleteSecret" | i18n }}</span>
        </button>
      </bit-menu>
    </tr>
  </ng-container>
</bit-table>

<bit-menu #tableMenu>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-sitemap tw-text-xl" aria-hidden="true"></i>
    {{ "projects" | i18n }}
  </button>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-trash tw-text-xl tw-text-danger" aria-hidden="true"></i>
    <span class="tw-text-danger">{{ "deleteSecrets" | i18n }}</span>
  </button>
</bit-menu>
