.left-nav {
  margin-right: 6px;
  order: 1;
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 175px;
  max-width: 250px;
  border-radius: $border-radius;
  overflow: hidden;
  flex-grow: 1;
  justify-content: space-between;

  @include themify($themes) {
    background-color: themed("backgroundColorAlt");
  }
}

.vault-filters {
  user-select: none;
  scrollbar-gutter: stable;
  padding: 10px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  .filter {
    hr {
      margin: 1em 0 1em 0;
      @include themify($themes) {
        border-color: themed("hrColor");
      }
    }
  }
}

.filter-heading {
  display: flex;
  font-weight: 700;
  margin-bottom: 5px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  h2 {
    @include themify($themes) {
      color: themed("headingColor");
    }
    font-size: $font-size-base;
  }

  button {
    @extend .no-btn;

    @include themify($themes) {
      color: themed("headingButtonColor");
    }

    &:hover,
    &:focus {
      @include themify($themes) {
        color: themed("headingButtonHoverColor");
      }
    }
  }

  button.add-button {
    margin-left: auto;
    margin-right: 5px;
  }

  &.active {
    .filter-button {
      font-weight: bold;
      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }

  .filter-button {
    &:hover {
      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }
}

.filter-options {
  word-break: break-all;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 20px;

  .nested-filter-options {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

.filter-options#collection-filters,
.filter-options#folder-filters,
.filter-options#type-filters {
  margin-left: 20px;
}

.filter-option {
  top: 8px;
  width: 100%;

  @include themify($themes) {
    color: themed("textColor");
  }

  &.active {
    > .filter-buttons {
      .filter-button {
        @include themify($themes) {
          color: themed("primaryColor");
          font-weight: bold;
        }
      }

      .edit-button {
        visibility: visible;
        flex-shrink: 0;
      }
    }
  }
}

.filter-buttons {
  padding: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;

  button {
    @extend .no-btn;
  }

  .edit-button,
  .toggle-button {
    @include themify($themes) {
      color: themed("headingButtonColor");
    }

    &:hover,
    &:focus {
      @include themify($themes) {
        color: themed("headingButtonHoverColor");
      }
    }
  }

  .edit-button {
    visibility: hidden;
    margin-left: auto;
    margin-right: 5px;
  }

  .filter-button {
    white-space: nowrap;
  }
}

.nav {
  height: 57px;
  display: flex;
  gap: 5px;
  width: 100%;

  @include themify($themes) {
    background-color: themed("backgroundColorAlt2");
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    width: 100%;
    padding: 13px;
    border: 0;
    border-radius: 0 0 6px 6px;

    @include themify($themes) {
      background-color: themed("backgroundColorAlt");
    }

    &:hover {
      @include themify($themes) {
        background-color: themed("backgroundColorAlt");
      }
    }

    &:not(.active) {
      @include themify($themes) {
        background-color: themed("backgroundColorAlt3");
      }
    }

    i {
      font-size: 17px;
      display: block;
      margin-bottom: 2px;
      text-align: center;
    }
  }
}
