<form
  #form
  (ngSubmit)="load()"
  [appApiAction]="formPromise"
  class="tw-container tw-mx-auto"
  ngNativeValidate
>
  <div
    class="tw-mx-auto tw-mt-5 tw-flex tw-max-w-xl tw-flex-col tw-items-center tw-justify-center tw-p-8"
  >
    <img class="logo logo-themed" alt="Bitwarden" />
    <div class="tw-mt-5 tw-w-full">
      <h2 bitTypography="h2" class="tw-mb-4 tw-text-center">View Send</h2>
    </div>
    <div class="text-center tw-w-full" *ngIf="creatorIdentifier != null">
      <p>{{ "sendCreatorIdentifier" | i18n : creatorIdentifier }}</p>
    </div>
    <bit-callout *ngIf="hideEmail" type="warning" title="{{ 'warning' | i18n }}">
      {{ "viewSendHiddenEmailWarning" | i18n }}
      <a href="https://bitwarden.com/help/receive-send/" target="_blank">{{ "learnMore" | i18n }}</a
      >.
    </bit-callout>
    <div
      class="tw-mt-3 tw-w-10/12 tw-rounded-md tw-border tw-border-solid tw-border-secondary-300 tw-bg-background tw-p-6"
    >
      <div *ngIf="loading" class="tw-text-center">
        <i
          class="bwi bwi-spinner bwi-spin bwi-2x text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="sr-only">{{ "loading" | i18n }}</span>
      </div>
      <div *ngIf="!loading && passwordRequired">
        <app-send-access-password
          [loading]="form.loading"
          (setPasswordEvent)="getPassword($event)"
        ></app-send-access-password>
      </div>
      <bit-no-items [icon]="expiredSendIcon" class="tw-text-main" *ngIf="!loading && unavailable">
        <ng-container slot="description">{{ "sendAccessUnavailable" | i18n }}</ng-container>
      </bit-no-items>
      <div *ngIf="!loading && error">
        {{ "unexpectedError" | i18n }}
      </div>
      <div *ngIf="!loading && !passwordRequired && send">
        <p class="text-center">
          <b>{{ send.name }}</b>
        </p>
        <hr />
        <!-- Text -->
        <ng-container *ngIf="send.type === sendType.Text">
          <app-send-access-text [send]="send"></app-send-access-text>
        </ng-container>
        <!-- File -->
        <ng-container *ngIf="send.type === sendType.File">
          <app-send-access-file
            [send]="send"
            [decKey]="decKey"
            [accessRequest]="accessRequest"
          ></app-send-access-file>
        </ng-container>
        <p *ngIf="expirationDate" class="text-center text-muted">
          Expires: {{ expirationDate | date : "medium" }}
        </p>
      </div>
    </div>
    <div class="tw-mt-5 tw-w-10/12 tw-text-center tw-text-muted">
      <p bitTypography="body2" class="mb-0">
        {{ "sendAccessTaglineProductDesc" | i18n }}
        {{ "sendAccessTaglineLearnMore" | i18n }}
        <a bitLink href="https://www.bitwarden.com/products/send?source=web-vault" target="_blank"
          >Bitwarden Send</a
        >
        {{ "sendAccessTaglineOr" | i18n }}
        <a bitLink href="https://vault.bitwarden.com/#/register" target="_blank">{{
          "sendAccessTaglineSignUp" | i18n
        }}</a>
        {{ "sendAccessTaglineTryToday" | i18n }}
      </p>
    </div>
  </div>
</form>
