<span bitBadge badgeType="secondary" *ngIf="status === emergencyAccessStatusType.Invited">{{
  "invited" | i18n
}}</span>
<span bitBadge badgeType="warning" *ngIf="status === emergencyAccessStatusType.Accepted">{{
  "accepted" | i18n
}}</span>

<span bitBadge badgeType="warning" *ngIf="status === emergencyAccessStatusType.RecoveryInitiated">{{
  "emergencyAccessRecoveryInitiated" | i18n
}}</span>
<span bitBadge *ngIf="status === emergencyAccessStatusType.RecoveryApproved">{{
  "emergencyAccessRecoveryApproved" | i18n
}}</span>

<span bitBadge *ngIf="type === emergencyAccessType.View">{{ "view" | i18n }}</span>
<span bitBadge *ngIf="type === emergencyAccessType.Takeover">{{ "takeover" | i18n }}</span>
