<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog>
    <ng-container bitDialogTitle>
      <app-premium-badge *ngIf="readOnly"></app-premium-badge>
      {{ (editMode ? "editEmergencyContact" : "inviteEmergencyContact") | i18n }}
      <small class="text-muted" *ngIf="name">{{ name }}</small>
    </ng-container>
    <div bitDialogContent class="tw-relative">
      <div
        *ngIf="loading"
        class="tw-absolute tw-flex tw-h-full tw-w-full tw-items-center tw-justify-center tw-bg-text-contrast"
      >
        <i class="bwi bwi-spinner bwi-spin bwi-3x"></i>
      </div>

      <ng-container *ngIf="!editMode">
        <p>{{ "inviteEmergencyContactDesc" | i18n }}</p>
        <bit-form-field>
          <bit-label>{{ "email" | i18n }}</bit-label>
          <input bitInput type="email" formControlName="email" />
        </bit-form-field>
      </ng-container>

      <h3>
        {{ "userAccess" | i18n }}
        <a
          target="_blank"
          rel="noopener"
          appA11yTitle="{{ 'learnMore' | i18n }}"
          href="https://bitwarden.com/help/emergency-access/#user-access"
        >
          <i class="bwi bwi-question-circle" aria-hidden="true"></i>
        </a>
      </h3>

      <bit-radio-group aria-label="Example radio group" formControlName="type">
        <bit-radio-button class="tw-block" [value]="emergencyAccessType.View" id="radio-view">
          <bit-label>{{ "view" | i18n }}</bit-label>
          <bit-hint>{{ "viewDesc" | i18n }}</bit-hint>
        </bit-radio-button>

        <bit-radio-button
          class="tw-block"
          [value]="emergencyAccessType.Takeover"
          id="radio-takeover"
        >
          <bit-label>{{ "takeover" | i18n }}</bit-label>
          <bit-hint>{{ "takeoverDesc" | i18n }}</bit-hint>
        </bit-radio-button>
      </bit-radio-group>

      <bit-form-field>
        <bit-label>{{ "waitTime" | i18n }}</bit-label>
        <select bitInput formControlName="waitTime">
          <option *ngFor="let o of waitTimes" [ngValue]="o.value">{{ o.name }}</option>
        </select>
        <bit-hint>{{ "waitTimeDesc" | i18n }}</bit-hint>
      </bit-form-field>
    </div>

    <div bitDialogFooter class="tw-flex tw-gap-2">
      <button type="submit" bitButton buttonType="primary" bitFormButton>
        {{ "save" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitFormButton bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
      <button
        *ngIf="editMode"
        class="tw-ml-auto"
        type="button"
        bitIconButton="bwi-trash"
        buttonType="danger"
        bitFormButton
        [bitAction]="delete"
      ></button>
    </div>
  </bit-dialog>
</form>
