@import "../../../../../libs/angular/src/scss/webfonts.css";
@import "../../../../../libs/angular/src/scss/bwicons/styles/style.scss";
@import "./variables";
@import "../../../../../libs/angular/src/scss/icons.scss";

$color-blue: #175ddc;
$color-light-gray: #ced4dc;
$color-gray: #6c747c;
$color-dark-gray: #212529;
$color-white: #fff;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: $color-white;
}

.overlay-list-message {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  padding: 0.8rem;
  color: $color-dark-gray;

  &.no-items {
    font-size: 1.6rem;
  }
}

.overlay-list-button {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  background: transparent;
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-blue;
  text-align: left;
  border: none;
  border-top: 1px solid $color-light-gray;
  padding: 0.8rem;
  margin: 0;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }

  svg {
    position: relative;
    margin-left: 0.4rem;
    margin-right: 0.8rem;
  }
}

.unlock-button {
  svg {
    top: 2px;
    width: 1.6rem;
    height: 1.7rem;
  }
}

.add-new-item-button {
  svg {
    top: 2px;
    width: 1.7rem;
    height: 1.7rem;
  }
}

.cipher {
  padding: 0.8rem;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $color-light-gray;
  }

  &:hover {
    background: #f0f0f0;
  }

  .cipher-icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 2.6rem;
    line-height: 0;
    margin-right: 1rem;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;

    svg {
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }
  }

  .cipher-details-container {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .cipher-name,
  .cipher-user-login {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  .cipher-name {
    font-size: 1.6rem;
    color: $color-dark-gray;
  }

  .cipher-user-login {
    font-size: 1.4rem;
    color: $color-gray;
  }
}
