<!-- Please remove this disable statement when editing this file! -->
<!-- eslint-disable @angular-eslint/template/button-has-type -->
<nav class="tw-bg-primary-500 tw-py-2">
  <div class="tw-mx-auto tw-max-w-7xl tw-px-5">
    <div class="tw-flex tw-flex-wrap tw-items-center tw-gap-6">
      <a class="tw-order-1" routerLink="/" appA11yTitle="{{ 'pageTitle' | i18n : 'Bitwarden' }}">
        <i
          class="bwi bwi-shield tw-text-3xl tw-text-contrast sm:tw-text-4xl"
          aria-hidden="true"
        ></i>
      </a>
      <div class="tw-order-3 tw-w-full sm:tw-order-2 sm:tw-w-auto">
        <ul
          class="tw-mb-0 tw-flex tw-list-none tw-flex-wrap tw-gap-x-5 tw-gap-y-2 tw-pl-0 tw-pb-2 sm:tw-gap-0 sm:tw-pb-0"
        >
          <li routerLinkActive="active">
            <a class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3" routerLink="/vault">{{
              "vaults" | i18n
            }}</a>
          </li>
          <li routerLinkActive="active">
            <a class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3" routerLink="/sends">{{
              "send" | i18n
            }}</a>
          </li>
          <li routerLinkActive="active">
            <a class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3" routerLink="/tools">{{
              "tools" | i18n
            }}</a>
          </li>
          <li routerLinkActive="active">
            <a
              class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3"
              routerLink="/reports"
              >{{ "reports" | i18n }}</a
            >
          </li>
          <li *ngIf="(organizations$ | async)?.length >= 1" routerLinkActive="active">
            <a
              class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3"
              [routerLink]="['/organizations', (organizations$ | async)[0].id]"
              >{{ "organizations" | i18n }}</a
            >
          </li>
          <ng-container *ngIf="providers.length >= 1">
            <li routerLinkActive="active" *ngIf="providers.length == 1">
              <a
                class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3"
                [routerLink]="['/providers', providers[0].id]"
                >{{ "provider" | i18n }}</a
              >
            </li>
            <li routerLinkActive="active" *ngIf="providers.length > 1">
              <a
                class="tw-py-2 tw-font-semibold !tw-text-contrast sm:tw-px-3"
                routerLink="/providers"
                >{{ "provider" | i18n }}</a
              >
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="tw-order-2 tw-ml-auto tw-flex tw-items-center sm:tw-order-3">
        <product-switcher buttonType="light"></product-switcher>
        <ul class="tw-mb-0 tw-flex tw-list-none tw-items-center tw-pl-0">
          <li>
            <button
              [bitMenuTriggerFor]="accountMenu"
              class="tw-border-0 tw-bg-transparent tw-text-alt2 tw-opacity-70 hover:tw-opacity-90"
            >
              <dynamic-avatar
                [text]="name"
                [id]="userId"
                size="xsmall"
                aria-hidden="true"
              ></dynamic-avatar>
              <i class="bwi bwi-caret-down bwi-sm" aria-hidden="true"></i>
            </button>
            <bit-menu class="dropdown-menu" #accountMenu>
              <div class="tw-flex tw-min-w-[200px] tw-max-w-[300px] tw-flex-col">
                <div
                  class="tw-flex tw-items-center tw-py-1 tw-px-4 tw-leading-tight tw-text-info"
                  *ngIf="name"
                  appStopProp
                >
                  <dynamic-avatar [text]="name" [id]="userId" size="small"></dynamic-avatar>
                  <div class="tw-ml-2 tw-block tw-overflow-hidden tw-whitespace-nowrap">
                    <span>{{ "loggedInAs" | i18n }}</span>
                    <small class="tw-block tw-overflow-hidden tw-whitespace-nowrap tw-text-muted">{{
                      name
                    }}</small>
                  </div>
                </div>
                <bit-menu-divider></bit-menu-divider>
                <a bitMenuItem routerLink="/settings/account">
                  <i class="bwi bwi-fw bwi-user" aria-hidden="true"></i>
                  {{ "accountSettings" | i18n }}
                </a>
                <a bitMenuItem href="https://bitwarden.com/help/" target="_blank" rel="noopener">
                  <i class="bwi bwi-fw bwi-question-circle" aria-hidden="true"></i>
                  {{ "getHelp" | i18n }}
                </a>
                <a
                  bitMenuItem
                  href="https://bitwarden.com/download/"
                  target="_blank"
                  rel="noopener"
                >
                  <i class="bwi bwi-fw bwi-download" aria-hidden="true"></i>
                  {{ "getApps" | i18n }}
                </a>
                <bit-menu-divider></bit-menu-divider>
                <button bitMenuItem type="button" (click)="lock()">
                  <i class="bwi bwi-fw bwi-lock" aria-hidden="true"></i>
                  {{ "lockNow" | i18n }}
                </button>
                <button bitMenuItem type="button" (click)="logOut()">
                  <i class="bwi bwi-fw bwi-sign-out" aria-hidden="true"></i>
                  {{ "logOut" | i18n }}
                </button>
              </div>
            </bit-menu>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
