<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="confirmUserTitle">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <form
      #form
      (ngSubmit)="submit()"
      [appApiAction]="formPromise"
      [formGroup]="importForm"
      *ngIf="importForm"
    >
      <div class="tw-text-center bwi-3x">
        <i class="bwi bwi-exclamation-triangle text-warning"></i>
      </div>

      <h2 class="tw-text-center tw-font-semibold" id="confirmUserTitle">
        {{ "confirmVaultImport" | i18n }}
      </h2>

      <div class="modal-body">
        <div>
          {{ "confirmVaultImportDesc" | i18n }}
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group modal-content">
          <div>
            <div class="input-group">
              <bit-form-field>
                <bit-label>{{ "confirmFilePassword" | i18n }}</bit-label>
                <input
                  bitInput
                  required
                  type="{{ showPassword ? 'text' : 'password' }}"
                  formControlName="filePassword"
                  name="filePassword"
                  appAutofocus
                  appInputVerbatim
                />
              </bit-form-field>
              <div class="input-group-append">
                <div class="action-buttons">
                  <button
                    bitSuffix
                    bitButton
                    buttonType="secondary"
                    appStopClick
                    appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                    [attr.aria-pressed]="showPassword"
                    (click)="togglePassword()"
                  >
                    <i
                      class="bwi bwi-lg"
                      aria-hidden="true"
                      [ngClass]="{ 'bwi-eye': !showPassword, 'bwi-eye-slash': showPassword }"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="tw-mt-4">
            <button bitSuffix bitButton buttonType="primary" type="submit" appBlurClick>
              <span>{{ "importData" | i18n }}</span>
            </button>
            <button bitSuffix bitButton buttonType="primary" type="button" data-dismiss="modal">
              {{ "cancel" | i18n }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
