<div class="modal fade" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <form #form (ngSubmit)="submit()">
      <div class="form-group modal-content">
        <div class="modal-header">
          <div class="tw-text-center bwi-3x">
            <i class="bwi bwi-exclamation-triangle text-warning"></i>
          </div>
          <h2 class="tw-text-center tw-font-semibold" id="confirmVaultImport">
            {{ "confirmVaultImport" | i18n }}
          </h2>
        </div>
        <div class="modal-body">
          {{ "confirmVaultImportDesc" | i18n }}
          <div class="input-group">
            <bit-form-field>
              <bit-label>{{ "confirmFilePassword" | i18n }}</bit-label>
              <input
                bitInput
                required
                type="{{ showFilePassword ? 'text' : 'password' }}"
                name="filePassword"
                [formControl]="filePassword"
                appAutofocus
                appInputVerbatim
              />
              <button
                bitSuffix
                bitButton
                appStopClick
                appA11yTitle="{{ 'toggleVisibility' | i18n }}"
                [attr.aria-pressed]="showFilePassword"
                (click)="toggleFilePassword()"
              >
                <i
                  class="bwi bwi-lg"
                  aria-hidden="true"
                  [ngClass]="{ 'bwi-eye': !showFilePassword, 'bwi-eye-slash': showFilePassword }"
                ></i>
              </button>
            </bit-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <div class="modal-footer-content">
            <div class="tw-mt-4">
              <button bitButton buttonType="primary" type="submit" appBlurClick>
                <span>{{ "importData" | i18n }}</span>
              </button>
              <button bitButton buttonType="secondary" type="button" data-dismiss="modal">
                <span>{{ "cancel" | i18n }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
