<bit-table>
  <ng-container header>
    <tr>
      <th bitCell class="tw-w-0">
        <input
          type="checkbox"
          (change)="$event ? toggleAll() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        />
      </th>
      <th bitCell class="tw-w-10/12">{{ "name" | i18n }}</th>
      <th bitCell class="tw-w-2/12">{{ "lastEdited" | i18n }}</th>
      <th bitCell class="tw-w-0">
        <button
          class="tw-rounded tw-border tw-border-transparent tw-bg-transparent tw-text-main hover:tw-border-secondary-700 focus:tw-border-secondary-700"
          [bitMenuTriggerFor]="tableMenu"
        >
          <i class="bwi bwi-ellipsis-v tw-text-xl" aria-hidden="true"></i>
        </button>
      </th>
    </tr>
  </ng-container>
  <ng-container body>
    <tr bitRow *ngFor="let project of projects; index as i">
      <td bitCell>
        <input
          type="checkbox"
          (change)="$event ? selection.toggle(project.id) : null"
          [checked]="selection.isSelected(project.id)"
        />
      </td>
      <td bitCell>
        <i class="bwi bwi-folder tw-text-xl tw-text-muted" aria-hidden="true"></i>
        {{ project.name }}
      </td>
      <td bitCell>{{ project.revisionDate | date: "medium" }}</td>
      <td bitCell>
        <button
          class="tw-rounded tw-border tw-border-transparent tw-bg-transparent tw-text-main hover:tw-border-secondary-700 focus:tw-border-secondary-700"
          [bitMenuTriggerFor]="projectMenu"
        >
          <i class="bwi bwi-ellipsis-v tw-text-xl" aria-hidden="true"></i>
        </button>
      </td>
      <bit-menu #projectMenu>
        <button type="button" bitMenuItem (click)="this.editProjectEvent.emit(project.Id)">
          <i class="bwi bwi-fw bwi-pencil tw-text-xl" aria-hidden="true"></i>
          {{ "editProject" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.viewProjectEvent.emit(project.Id)">
          <i class="bwi bwi-fw bwi-eye tw-text-xl" aria-hidden="true"></i>
          {{ "viewProject" | i18n }}
        </button>
        <button type="button" bitMenuItem (click)="this.deleteProjectEvent.emit(project.Id)">
          <i class="bwi bwi-fw bwi-trash tw-text-xl tw-text-danger" aria-hidden="true"></i>
          <span class="tw-text-danger">{{ "deleteProject" | i18n }}</span>
        </button>
      </bit-menu>
    </tr>
  </ng-container>
</bit-table>

<bit-menu #tableMenu>
  <button type="button" bitMenuItem>
    <i class="bwi bwi-fw bwi-trash tw-text-xl tw-text-danger" aria-hidden="true"></i>
    <span class="tw-text-danger">{{ "deleteProjects" | i18n }}</span>
  </button>
</bit-menu>
