<bit-dialog *ngIf="!loading">
  <span bit-dialog-title
    >{{ "editCollection" | i18n }}
    <span class="tw-text-sm tw-normal-case tw-text-muted">{{ collectionView.name }}</span>
  </span>
  <span bit-dialog-content>
    <bit-tab-group label="Main Content Tabs">
      <bit-tab [label]="'collectionInfo' | i18n">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
          <bit-form-field>
            <bit-label>{{ "name" | i18n }}</bit-label>
            <input bitInput formControlName="name" required />
          </bit-form-field>

          <bit-form-field>
            <bit-label>{{ "externalId" | i18n }}</bit-label>
            <input bitInput formControlName="externalId" />
            <bit-hint>{{ "externalIdDesc" | i18n }}</bit-hint>
          </bit-form-field>

          <bit-form-field>
            <bit-label>{{ "nestCollectionUnder" | i18n }}</bit-label>
            <select bitInput>
              <option>Select</option>
              <option>Other</option>
            </select>
          </bit-form-field>
        </form>
      </bit-tab>
      <bit-tab [label]="'access' | i18n"> </bit-tab>
    </bit-tab-group>
  </span>
  <div bit-dialog-footer class="tw-flex tw-flex-row tw-gap-2">
    <button bitButton buttonType="primary" (click)="dialogRef.close()">Save</button>
    <button bitButton buttonType="secondary" bitDialogClose>Cancel</button>
  </div>
</bit-dialog>
