<bit-dialog *ngIf="!loading">
  <span bitDialogTitle>
    <ng-container *ngIf="collection; else newCollectionTitle">
      {{ "editCollection" | i18n }}
      <span class="tw-text-sm tw-normal-case tw-text-muted">{{ collection.name }}</span>
    </ng-container>
    <ng-template #newCollectionTitle>
      {{ "newCollection" | i18n }}
    </ng-template>
  </span>
  <span bitDialogContent>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <bit-form-field>
        <bit-label>{{ "name" | i18n }}</bit-label>
        <input bitInput formControlName="name" required />
      </bit-form-field>

      <bit-form-field>
        <bit-label>{{ "externalId" | i18n }}</bit-label>
        <input bitInput formControlName="externalId" />
        <bit-hint>{{ "externalIdDesc" | i18n }}</bit-hint>
      </bit-form-field>

      <bit-form-field>
        <bit-label>{{ "nestCollectionUnder" | i18n }}</bit-label>
        <select bitInput>
          <option [ngValue]="undefined">-</option>
          <option *ngFor="let collection of nestOptions" [ngValue]="collection.name">
            {{ collection.name }}
          </option>
        </select>
      </bit-form-field>
    </form>
  </span>
  <div bitDialogFooter class="tw-flex tw-flex-row tw-gap-2">
    <button bitButton buttonType="primary" (click)="dialogRef.close()">Save</button>
    <button bitButton buttonType="secondary" bitDialogClose>Cancel</button>
  </div>
</bit-dialog>
