<ng-container *ngIf="data">
  <div class="auth-wrapper">
    <ng-container *ngIf="data.type == 'VerifyUserRequest'">
      A site is asking for authentication
    </ng-container>
    <ng-container *ngIf="data.type == 'ConfirmNewCredentialRequest'">
      <div class="box list">
        <div class="box-content">
          <app-cipher-row [cipher]="cipher"></app-cipher-row>
        </div>
      </div>
      A site wants to create a new passkey in your vault
    </ng-container>
    <button type="button" class="btn btn-outline-secondary" (click)="accept()">
      <ng-container *ngIf="data.type == 'VerifyUserRequest'">Authenticate</ng-container>
      <ng-container *ngIf="data.type == 'ConfirmNewCredentialRequest'">Create</ng-container>
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel(true)">
      Use browser built-in
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel(false)">Abort</button>
  </div>
</ng-container>
