<ng-container *ngIf="data">
  <div class="auth-wrapper">
    <ng-container *ngIf="data.type == 'ConfirmCredentialRequest'">
      A site is asking for authentication using the following credential:
      <div class="box list">
        <div class="box-content">
          <app-cipher-row [cipher]="ciphers[0]"></app-cipher-row>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="confirm()">
        Authenticate
      </button>
    </ng-container>
    <ng-container *ngIf="data.type == 'PickCredentialRequest'">
      A site is asking for authentication, please choose one of the following credentials to use:
      <div class="box list">
        <div class="box-content">
          <app-cipher-row
            *ngFor="let cipher of ciphers"
            [cipher]="cipher"
            (onSelected)="pick(cipher)"
          ></app-cipher-row>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.type == 'ConfirmNewCredentialRequest'">
      A site wants to create the following passkey in your vault
      <div class="box list">
        <div class="box-content">
          <app-cipher-row [cipher]="ciphers[0]"></app-cipher-row>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="confirmNew()">Create</button>
    </ng-container>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel(true)">
      Use browser built-in
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel(false)">Abort</button>
  </div>
</ng-container>
