<form [formGroup]="formGroup" [bitSubmit]="submit">
  <app-two-factor-dialog [title]="'emailTitle' | i18n" [authed]="authed" [(secret)]="secret">
    <ng-container bitDialogContent>
      <ng-container *ngIf="enabled">
        <app-callout type="success" title="{{ 'enabled' | i18n }}" icon="bwi bwi-check-circle">
          {{ "twoStepLoginProviderEnabled" | i18n }}
        </app-callout>
        <strong>{{ "email" | i18n }}:</strong> {{ formGroup.value.email }}
      </ng-container>

      <ng-container *ngIf="!enabled">
        <p class="tw-flex">
          <span class="tw-mr-3">{{ "twoFactorEmailDesc" | i18n }}</span>
          <img class="mfaType1 tw-float-right tw-ml-auto" alt="Email logo" />
        </p>

        <bit-form-field>
          <bit-label>1. {{ "twoFactorEmailEnterEmail" | i18n }}</bit-label>
          <input bitInput formControlName="email" />
        </bit-form-field>

        <div class="tw-mb-6">
          <button type="button" bitButton [bitAction]="sendEmail">{{ "sendEmail" | i18n }}</button>

          <span class="tw-ml-3 tw-text-success" *ngIf="sentEmail">
            {{ "verificationCodeEmailSent" | i18n: sentEmail }}
          </span>
        </div>

        <bit-form-field>
          <bit-label>2. {{ "twoFactorEmailEnterCode" | i18n }}</bit-label>
          <input bitInput formControlName="token" />
        </bit-form-field>
      </ng-container>
    </ng-container>

    <ng-container bitDialogFooter>
      <button type="submit" bitButton buttonType="primary" bitFormButton *ngIf="!enabled">
        {{ "enable" | i18n }}
      </button>
      <button
        type="submit"
        bitButton
        buttonType="primary"
        bitFormButton
        *ngIf="enabled"
        [bitAction]="disable"
      >
        {{ "disable" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitFormButton bitDialogClose>
        {{ "close" | i18n }}
      </button>
    </ng-container>
  </app-two-factor-dialog>
</form>
