<form [formGroup]="formGroup" [bitSubmit]="submit">
  <app-two-factor-dialog
    [title]="'authenticatorAppTitle' | i18n"
    [authed]="authed"
    [(secret)]="secret"
  >
    <ng-container bitDialogContent>
      <ng-container *ngIf="!enabled">
        <img class="mfaType0 tw-float-right" alt="Authenticator app logo" />
        <p>{{ "twoStepAuthenticatorDesc" | i18n }}</p>
        <p>
          <strong>1. {{ "twoStepAuthenticatorDownloadApp" | i18n }}</strong>
        </p>
      </ng-container>

      <ng-container *ngIf="enabled">
        <app-callout type="success" title="{{ 'enabled' | i18n }}" icon="bwi bwi-check-circle">
          <p>{{ "twoStepLoginProviderEnabled" | i18n }}</p>
          {{ "twoStepAuthenticatorReaddDesc" | i18n }}
        </app-callout>
        <img class="float-right mfaType0" alt="Authenticator app logo" />
        <p>{{ "twoStepAuthenticatorNeedApp" | i18n }}</p>
      </ng-container>

      <!-- TODO: CL icon list -->
      <ul class="bwi-ul">
        <li>
          <i class="bwi bwi-li bwi-apple"></i>{{ "iosDevices" | i18n }}:
          <a
            href="https://itunes.apple.com/us/app/authy/id494168017?mt=8"
            target="_blank"
            rel="noopener"
            >Authy</a
          >
        </li>
        <li>
          <i class="bwi bwi-li bwi-android"></i>{{ "androidDevices" | i18n }}:
          <a
            href="https://play.google.com/store/apps/details?id=com.authy.authy"
            target="_blank"
            rel="noopener"
            >Authy</a
          >
        </li>
        <li>
          <i class="bwi bwi-li bwi-windows"></i>{{ "windowsDevices" | i18n }}:
          <a
            href="https://www.microsoft.com/p/authenticator/9wzdncrfj3rj"
            target="_blank"
            rel="noopener"
            >Microsoft Authenticator</a
          >
        </li>
      </ul>

      <p>{{ "twoStepAuthenticatorAppsRecommended" | i18n }}</p>

      <p *ngIf="!enabled">
        <strong>2. {{ "twoStepAuthenticatorScanCode" | i18n }}</strong>
      </p>
      <hr *ngIf="enabled" />

      <p class="tw-text-center" [ngClass]="{ 'tw-mb-0': enabled }">
        <canvas id="qr"></canvas><br />
        <code appA11yTitle="{{ 'key' | i18n }}">{{ key }}</code>
      </p>

      <bit-form-field *ngIf="!enabled">
        <bit-label>3. {{ "twoStepAuthenticatorEnterCode" | i18n }}</bit-label>
        <input bitInput formControlName="token" />
      </bit-form-field>
    </ng-container>

    <ng-container bitDialogFooter>
      <button type="submit" bitButton buttonType="primary" bitFormButton *ngIf="!enabled">
        {{ "enable" | i18n }}
      </button>
      <button
        type="submit"
        bitButton
        buttonType="primary"
        bitFormButton
        *ngIf="enabled"
        [bitAction]="disable"
      >
        {{ "disable" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitFormButton bitDialogClose>
        {{ "close" | i18n }}
      </button>
    </ng-container>
  </app-two-factor-dialog>
</form>
