<form [formGroup]="exportForm" [bitSubmit]="submit">
  <bit-dialog>
    <span bitDialogTitle>{{ "exportVault" | i18n }}</span>
    <ng-container bitDialogContent>
      <bit-callout
        type="warning"
        title="{{ 'vaultExportDisabled' | i18n }}"
        *ngIf="disabledByPolicy"
      >
        {{ "personalVaultExportPolicyInEffect" | i18n }}
      </bit-callout>
      <app-export-scope-callout *ngIf="!disabledByPolicy"></app-export-scope-callout>
      <bit-form-field>
        <bit-label>{{ "fileFormat" | i18n }}</bit-label>
        <bit-select id="format" formControlName="format" placeholder="abc">
          <!-- <option value="value1">value1</option> /> -->
          <!-- <option value="value2" label="value2" />
          <option value="value3" label="value3" /> -->
          <bit-option
            *ngFor="let f of formatOptions"
            [value]="f.value"
            [label]="f.name"
          ></bit-option>
        </bit-select>
      </bit-form-field>
      <app-user-verification ngDefaultControl formControlName="secret" name="secret">
      </app-user-verification>
    </ng-container>
    <ng-container bitDialogFooter>
      <button type="submit" bitButton bitFormButton buttonType="primary">
        {{ "submit" | i18n }}
        <i class="bwi bwi-download bwi-lg bwi-fw" aria-hidden="true"></i>
      </button>
      <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>

<!-- <div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="exportTitle">
  <div class="modal-dialog" role="document">
    <form class="modal-content" #form (ngSubmit)="submit()" [formGroup]="exportForm">
      <div class="modal-body">
        <app-callout
          type="warning"
          title="{{ 'vaultExportDisabled' | i18n }}"
          *ngIf="disabledByPolicy"
        >
          {{ "personalVaultExportPolicyInEffect" | i18n }}
        </app-callout>
        <app-export-scope-callout *ngIf="!disabledByPolicy"></app-export-scope-callout>
        <div class="box">
          <h1 class="box-header" id="exportTitle">
            {{ "exportVault" | i18n }}
          </h1>
          <div class="box-content">
            <div class="box-content-row" appBoxRow>
              <label for="format">{{ "fileFormat" | i18n }}</label>
              <select class="form-control" id="format" name="Format" formControlName="format">
                <option *ngFor="let f of formatOptions" [value]="f.value">{{ f.name }}</option>
              </select>
            </div>
            <app-user-verification ngDefaultControl formControlName="secret" name="secret">
            </app-user-verification>
          </div>
          <div id="confirmIdentityHelp" class="box-footer">
            <p>{{ "confirmIdentity" | i18n }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="primary"
          appA11yTitle="{{ 'submit' | i18n }}"
          [disabled]="disabledByPolicy"
        >
          <i class="bwi bwi-download bwi-lg bwi-fw" aria-hidden="true"></i>
        </button>
        <button type="button" data-dismiss="modal">{{ "cancel" | i18n }}</button>
      </div>
    </form>
  </div>
</div> -->
