<form [formGroup]="deleteForm" [bitSubmit]="submit">
  <bit-dialog>
    <span bitDialogTitle>{{ "deleteAccount" | i18n }}</span>
    <ng-container bitDialogContent>
      <p>{{ "deleteAccountDesc" | i18n }}</p>
      <bit-callout type="warning" title="{{ 'warning' | i18n }}">
        {{ "deleteAccountWarning" | i18n }}
      </bit-callout>
      <app-user-verification ngDefaultControl formControlName="verification" name="verification">
      </app-user-verification>
    </ng-container>
    <ng-container bitDialogFooter>
      <button type="submit" bitButton bitFormButton buttonType="danger" [disabled]="!secret">
        {{ "deleteAccount" | i18n }}
      </button>
      <button type="button" bitButton bitFormButton buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
