<div class="card vault-filters">
  <div class="container loading-spinner" *ngIf="!isLoaded">
    <i class="bwi bwi-spinner bwi-spin bwi-3x" aria-hidden="true"></i>
  </div>
  <div *ngIf="isLoaded">
    <div class="card-header d-flex">
      {{ "filters" | i18n }}
      <a
        class="ml-auto"
        href="https://bitwarden.com/help/searching-vault/"
        target="_blank"
        rel="noopener"
        appA11yTitle="{{ 'learnMore' | i18n }}"
      >
        <i class="bwi bwi-question-circle" aria-hidden="true"></i>
      </a>
    </div>
    <div class="card-body">
      <input
        type="search"
        placeholder="{{ (searchPlaceholder | i18n) || ('searchVault' | i18n) }}"
        id="search"
        class="form-control"
        [(ngModel)]="searchText"
        (input)="searchTextChanged()"
        autocomplete="off"
        appAutofocus
      />
      <ng-container *ngFor="let f of filtersList">
        <div class="filter">
          <app-filter-section
            [activeFilter]="activeFilter"
            [data]="f.data$ | async"
            [header]="f.header"
            [action]="f.action"
            [edit]="f.edit"
            [add]="f.add"
            [options]="f.options"
            [divider]="f.divider"
            [nodeCollapsedState]="collapsedFilterNodes"
            (nodeCollapsedStateChange)="toggleFilterNodeCollapseState($event)"
          >
          </app-filter-section>
        </div>
      </ng-container>
    </div>
  </div>
</div>
