<a [routerLink]="['secrets']" class="tw-mx-4 tw-mt-8 tw-mb-3 tw-block">
  <bit-icon [icon]="logo" class="tw-w-full tw-text-alt2"></bit-icon>
</a>

<a bitNavigation routerLink="projects">
  <i class="bwi bwi-fw bwi-collection !tw-m-0"></i>
  <span>Projects</span>
</a>
<a bitNavigation routerLink="secrets">
  <i class="bwi bwi-fw bwi-key !tw-m-0"></i>
  <span>Secrets</span>
</a>
<a bitNavigation routerLink="serviceAccounts">
  <i class="bwi bwi-fw bwi-wrench !tw-m-0"></i>
  <span>Service Accounts</span>
</a>
<a bitNavigation routerLink="trash">
  <i class="bwi bwi-fw bwi-trash !tw-m-0"></i>
  <span>Trash</span>
</a>
<a bitNavigation routerLink="settings">
  <i class="bwi bwi-fw bwi-cog !tw-m-0"></i>
  <span>Settings</span>
</a>
