<form [formGroup]="formGroup" [bitSubmit]="submit">
  <bit-dialog [disablePadding]="!loading">
    <span bitDialogTitle>
      {{ title }}
      <span class="tw-text-sm tw-normal-case tw-text-muted" *ngIf="!loading && params.name">{{
        params.name
      }}</span>
      <span bitBadge badgeType="secondary" *ngIf="isRevoked">{{ "revoked" | i18n }}</span>
    </span>
    <div bitDialogContent>
      <ng-container *ngIf="loading">
        <i
          class="bwi bwi-spinner bwi-spin text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="sr-only">{{ "loading" | i18n }}</span>
      </ng-container>
      <bit-tab-group *ngIf="!loading" [selectedIndex]="tabIndex">
        <bit-tab [label]="'role' | i18n">
          <ng-container *ngIf="!editMode">
            <p>{{ "inviteUserDesc" | i18n }}</p>
            <div class="form-group mb-4">
              <label for="emails">{{ "email" | i18n }}</label>
              <input
                id="emails"
                class="form-control"
                type="text"
                name="Emails"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="emails"
                required
                appAutoFocus
              />
              <small class="text-muted">{{ "inviteMultipleEmailDesc" | i18n: "20" }}</small>
            </div>
          </ng-container>
          <h3>
            {{ "userType" | i18n }}
            <a
              target="_blank"
              rel="noopener"
              appA11yTitle="{{ 'learnMore' | i18n }}"
              href="https://bitwarden.com/help/user-types-access-control/"
            >
              <i class="bwi bwi-question-circle" aria-hidden="true"></i>
            </a>
          </h3>
          <div class="form-check mt-2 form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="userTypeUser"
              [value]="organizationUserType.User"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="type"
            />
            <label class="form-check-label" for="userTypeUser">
              {{ "user" | i18n }}
              <small>{{ "userDesc" | i18n }}</small>
            </label>
          </div>
          <div class="form-check mt-2 form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="userTypeManager"
              [value]="organizationUserType.Manager"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="type"
            />
            <label class="form-check-label" for="userTypeManager">
              {{ "manager" | i18n }}
              <small>{{ "managerDesc" | i18n }}</small>
            </label>
          </div>
          <div class="form-check mt-2 form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="userTypeAdmin"
              [value]="organizationUserType.Admin"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="type"
            />
            <label class="form-check-label" for="userTypeAdmin">
              {{ "admin" | i18n }}
              <small>{{ "adminDesc" | i18n }}</small>
            </label>
          </div>
          <div class="form-check mt-2 form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="userTypeOwner"
              [value]="organizationUserType.Owner"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="type"
            />
            <label class="form-check-label" for="userTypeOwner">
              {{ "owner" | i18n }}
              <small>{{ "ownerDesc" | i18n }}</small>
            </label>
          </div>
          <div class="form-check mt-2 form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="userTypeCustom"
              [value]="organizationUserType.Custom"
              [(ngModel)]="type"
              [ngModelOptions]="{ standalone: true }"
              [attr.disabled]="!canUseCustomPermissions || null"
            />
            <label class="form-check-label" for="userTypeCustom">
              {{ "custom" | i18n }}
              <ng-container *ngIf="!canUseCustomPermissions; else enterprise">
                <small
                  >{{ "customDescNonEnterpriseStart" | i18n
                  }}<a href="https://bitwarden.com/contact/" target="_blank">{{
                    "customDescNonEnterpriseLink" | i18n
                  }}</a
                  >{{ "customDescNonEnterpriseEnd" | i18n }}</small
                >
              </ng-container>
              <ng-template #enterprise>
                <small>{{ "customDesc" | i18n }}</small>
              </ng-template>
            </label>
          </div>
          <ng-container *ngIf="customUserTypeSelected">
            <h3 class="mt-4 d-flex">
              {{ "permissions" | i18n }}
            </h3>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label class="font-weight-bold mb-0">{{ "managerPermissions" | i18n }}</label>
                  <hr class="my-0 mr-2" />
                  <app-nested-checkbox
                    parentId="manageAssignedCollections"
                    [checkboxes]="manageAssignedCollectionsCheckboxes"
                  >
                  </app-nested-checkbox>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="font-weight-bold mb-0">{{ "adminPermissions" | i18n }}</label>
                  <hr class="my-0 mr-2" />
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="accessEventLogs"
                        id="accessEventLogs"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.accessEventLogs"
                      />
                      <label class="form-check-label font-weight-normal" for="accessEventLogs">
                        {{ "accessEventLogs" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="accessImportExport"
                        id="accessImportExport"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.accessImportExport"
                      />
                      <label class="form-check-label font-weight-normal" for="accessImportExport">
                        {{ "accessImportExport" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="accessReports"
                        id="accessReports"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.accessReports"
                      />
                      <label class="form-check-label font-weight-normal" for="accessReports">
                        {{ "accessReports" | i18n }}
                      </label>
                    </div>
                  </div>
                  <app-nested-checkbox
                    parentId="manageAllCollections"
                    [checkboxes]="manageAllCollectionsCheckboxes"
                  >
                  </app-nested-checkbox>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="manageGroups"
                        id="manageGroups"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.manageGroups"
                      />
                      <label class="form-check-label font-weight-normal" for="manageGroups">
                        {{ "manageGroups" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="manageSso"
                        id="manageSso"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.manageSso"
                      />
                      <label class="form-check-label font-weight-normal" for="manageSso">
                        {{ "manageSso" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="managePolicies"
                        id="managePolicies"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.managePolicies"
                      />
                      <label class="form-check-label font-weight-normal" for="managePolicies">
                        {{ "managePolicies" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="manageUsers"
                        id="manageUsers"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.manageUsers"
                        (change)="handleDependentPermissions()"
                      />
                      <label class="form-check-label font-weight-normal" for="manageUsers">
                        {{ "manageUsers" | i18n }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="form-check mt-1 form-check-block">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="manageResetPassword"
                        id="manageResetPassword"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="permissions.manageResetPassword"
                        (change)="handleDependentPermissions()"
                      />
                      <label class="form-check-label font-weight-normal" for="manageResetPassword">
                        {{ "manageResetPassword" | i18n }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </bit-tab>
        <bit-tab *ngIf="organization.useGroups" [label]="'groups' | i18n">
          <div class="tw-mb-6">
            {{ "groupAccessUserDesc" | i18n }}
          </div>
          <bit-access-selector
            formControlName="groups"
            [items]="groupAccessItems"
            [columnHeader]="'groups' | i18n"
            [selectorLabelText]="'selectGroups' | i18n"
            [emptySelectionText]="'noGroupsAdded' | i18n"
          ></bit-access-selector>
        </bit-tab>
        <bit-tab [label]="'collections' | i18n">
          <div *ngIf="organization.useGroups" class="tw-mb-6">
            {{ "userPermissionOverrideHelper" | i18n }}
          </div>
          <div class="tw-mb-6">
            <!-- TODO: Replace with bit-checkbox when feature has been merged into feature branch -->
            <label>
              <input type="checkbox" formControlName="accessAllCollections" />
              <span class="tw-bold"
                >{{ "accessAllCollectionsDesc" | i18n }}
                <a
                  target="_blank"
                  rel="noopener"
                  appA11yTitle="{{ 'learnMore' | i18n }}"
                  href="https://bitwarden.com/help/user-types-access-control/#access-control"
                >
                  <i class="bwi bwi-question-circle" aria-hidden="true"></i>
                </a>
              </span>
            </label>
            <div class="tw-text-muted">{{ "accessAllCollectionsHelp" | i18n }}</div>
          </div>
          <bit-access-selector
            *ngIf="!accessAllCollections"
            [permissionMode]="PermissionMode.Edit"
            formControlName="access"
            [showGroupColumn]="organization.useGroups"
            [items]="collectionAccessItems"
            [columnHeader]="'collection' | i18n"
            [selectorLabelText]="'selectCollections' | i18n"
            [emptySelectionText]="'noCollectionsAdded' | i18n"
          ></bit-access-selector
        ></bit-tab>
      </bit-tab-group>
    </div>
    <div bitDialogFooter class="tw-flex tw-flex-row tw-gap-2">
      <button type="submit" bitButton bitFormButton buttonType="primary" [disabled]="loading">
        {{ "save" | i18n }}
      </button>
      <button
        type="button"
        bitButton
        bitFormButton
        buttonType="secondary"
        (click)="cancel()"
        [disabled]="loading"
      >
        {{ "cancel" | i18n }}
      </button>
      <div class="tw-ml-auto">
        <button
          *ngIf="editMode && isRevoked"
          type="button"
          bitButton
          bitFormButton
          buttonType="secondary"
          [bitAction]="restore"
          [disabled]="loading"
        >
          {{ "restoreAccess" | i18n }}
        </button>
        <button
          *ngIf="editMode && !isRevoked"
          type="button"
          bitButton
          bitFormButton
          buttonType="secondary"
          [bitAction]="revoke"
          [disabled]="loading"
        >
          {{ "revokeAccess" | i18n }}
        </button>
        <button
          *ngIf="editMode"
          type="button"
          bitIconButton="bwi-trash"
          buttonType="danger"
          bitFormButton
          [appA11yTitle]="'delete' | i18n"
          [bitAction]="delete"
          [disabled]="loading"
        ></button>
      </div>
    </div>
  </bit-dialog>
</form>
